body
{
	font-family: 'Lato', sans-serif;
	background-color: #303030;
	color: #ffffff;
	font-size: 20px;
	margin: 0 !important;
}
#er
{
    color:red;
	margin-top:10px;
	margin-bottom:10px;
}
.container
{
	width: 100%;
}
.header
{
	width:100%;
	padding: 40px 0;
}
.logo
{
	width: 450px;
	font-size:48px;
	margin-left:auto;
	margin-right:auto;
}
.nav
{
	width:100%;
	padding: 10px 0;
	background-color:#c34f4f;
	text-align: center;
	border-top: 1px solid #751b1b;
	border-bottom: 1px solid #751b1b;
}
.content
{
	width: 1000px;
	margin-left:auto;
	margin-right:auto;
	text-align: center;
	padding-top: 10px;
}
.socials
{
	width:100%;
text-align: center;
background-color:#292929;
	
}
.socialdivs
{
	width:1000px;
	margin-left:auto;
	margin-right:auto;
}
.fb
{
	width: 250px;
	height: 155px;
	float:left;
	color: #ffffff;
}
.fb:hover
{
	background-color:#4668b3;
}
.yt
{
	width: 250px;
	height: 155px;
	float:left;
	color: #ffffff;
}
.yt:hover
{
	background-color:#d94348;
}
.gh
{
	width: 250px;
	height: 155px;
	float: left;
	color: #ffffff;
}
.gh:hover
{
	background-color:#30959d;
}
.ln
{
	width: 250px;
	height: 155px;
	float:left;
	color: #ffffff;
}
.ln:hover
{
	background-color:#4668b3;
}
.footer
{
	text-align:center;
	background-color:#222222;
	padding: 30px;
}
.sticky
{
	width:100%;
	position: fixed;
	left: 0;
	top: 0;
	z-index:100;
}
ol
{
	padding: 0;
	margin: 0;
	list-style-type: none;
	font-size: 18px;
	height:35px;
	line-height:200%;
	display: inline-block;
}
ol a
{
	color:#ffffff;
	text-decoration:none;
	display: block;
}
ol > li
{
	float:left;
	width: 150px;
	height: 40px;
	border-right: 1px dashed #751b1b;
}
ol > li:first-child
{
	border-left: 1px dashed #751b1b;
}
ol > li:hover
{
	background-color: #cf6969;
}
ol >li:hover > a
{
	color: #451717;
}
ol > li > ul
{
	list-style-type: none;
	padding:0px;
	margin-top:-3px;
	height:40px;
	display:none;
}
ol > li:hover > ul
{
	display:block;
}
ol >li>ul>li
{
	background-color:#cf6969;
	position: relative;
	z-index: 100;
	border-top: 1px dashed #751b1b;
}
ol>li>ul>li:hover
{
	background-color:#c34f4f;
	
}
ol>li>ul>li:hover > a
{
 color: #451717;	
}
#EX
{
	
}
.button
{
	background-color:#c34f4f;
	border:none;
	color:white;
	padding: 15px 32px; 
	text-align: center;
	text-decoration:none;
	display:inline-block;
	font-size:20px;
}
.button:hover
{
	cursor:pointer;
	background-color: #cf6969;
	 color: #451717;
}
input[type=text], select{
	width: 30%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
	font-size:20px;
	background-color:#eeeaea;
}

input[type=password], select{
	width: 30%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
	font-size:20px;
	background-color:#eeeaea;
}
p
{
	font-size:26px;
}
label
{
	font-size:26px;
}
#TabelaRank
{
	text-align:center;
	margin-left:auto;
	margin-right:auto;
}
#TabelaRank td, #TabelaRank th
{
	border: 1px solid #ddd;
	padding: 8px;
}
#TabelaRank tr:nth-child(even){
	background-color: #666666;
}